---
import MainSection from "@components/layout/MainSection.astro";
import { getFormattedDate } from "@scripts/utils/handleDates";

interface Props {
    title: string;
    description: string;
    content: Array<{
        subtitle: string;
        description: string;
    }>;
}

const { title, description, content } = Astro.props;
---

<MainSection class="policies">
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    <div>
        {
            content.map(({ subtitle, description }) => (
                <article>
                    <h3>{subtitle}</h3>
                    <p>{description}</p>
                </article>
            ))
        }
    </div>
    <footer>
        <p>Última actualización: {getFormattedDate(new Date())}</p>
    </footer>
</MainSection>

<style>
    .policies {
        gap: 2rem;
    }

    .policies > header,
    .policies > div,
    .policies > div > article {
        display: flex;
        flex-direction: column;
    }

    .policies > header,
    .policies > div > article {
        gap: 0.25rem;
    }

    .policies > div {
        gap: 1rem;
    }

    .policies > div > article > h3 {
        font-size: var(--text-size-medium);
    }
</style>
