---
import Navbar from "./Navbar.astro";
---

<header>
  <Navbar isPopover={false} />
  <Navbar className="open" isPopover={true} />
  <div popover="hint"></div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--neutral-300);
    background-color: var(--neutral-50);
    z-index: 999;
  }
</style>
