---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {}

const { ...props } = Astro.props;
---

<section {...props}>
  <slot />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem;
  }
</style>
