---
import Button from "@components/ui/Button.astro";
import InputBox from "@components/ui/InputBox.astro";
---

<article class="contact__form">
    <h4>Ponte en contacto con nosotros</h4>
    <form id="contact-form">
        <InputBox name="name" label="Nombre">
            <input id="name" type="text" name="name" placeholder="" autocomplete="name" />
        </InputBox>
        <InputBox name="lastName" label="Apellido">
            <input id="lastName" type="text" name="lastName" placeholder="" autocomplete="family-name" />
        </InputBox>
        <InputBox name="email" label="Correo Electrónico">
            <input id="email" type="email" name="email" placeholder="" autocomplete="email" />
        </InputBox>
        <InputBox name="subject" label="Asunto">
            <input id="subject" type="text" name="subject" placeholder="" autocomplete="off" />
        </InputBox>
        <InputBox name="message" label="Mensaje" flex={1}>
            <textarea id="message" name="message" placeholder=""></textarea>
        </InputBox>
        <Button type="submit" aria-label="Enviar mensaje de contacto">Enviar Mensaje</Button>
    </form>
</article>

<style>
    .contact__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex: 1 300px;
    }

    .contact__form > h4 {
        font-size: var(--text-size-medium);
        text-align: center;
    }

    .contact__form > form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
    }
</style>

<script src="../../../scripts/lib/contact.ts"></script>
