---
import Layout from "@layouts/Layout.astro";
import Banner from "@sections/Banner.astro";
import Products from "@sections/Products.astro";
import FAQ from "@sections/FAQ.astro";
import Contact from "@sections/Contact.astro";
import Footer from "@components/Footer.astro";
import Toast from "@components/Toast.astro";

import { basics } from "@data";

const { name } = basics;
const baseUrl = "/";
---

<Layout title={name}>
    <Banner baseUrl={baseUrl} />
    <main>
        <Products />
        <FAQ />
        <Contact />
    </main>
    <Footer baseUrl={baseUrl} />
    <Toast />
    <script src="../scripts/pages/index.ts"></script>
</Layout>

<style>
    main {
        align-self: center;
        display: flex;
        flex-direction: column;
        width: min(100%, var(--max-width));
    }
</style>
