---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Policies from "@components/sections/policies/Policies.astro";
import Layout from "@layouts/Layout.astro";
import { basics, termsAndConditions } from "@data";

const { name } = basics;
const { title, description, sections } = termsAndConditions;
---

<Layout title={`Términos y condiciones de ${name}`}>
  <Header />
  <main>
    <Policies title={title} description={description} sections={sections} />
  </main>
  <Footer />
</Layout>

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--neutral-300);
    background-color: var(--neutral-50);
    z-index: 999;
  }

  main {
    flex: 1;
    align-self: center;
    padding-block: 4.5rem;
    width: min(100%, calc(var(--max-width) / 1.5));
  }
</style>
