---
type Props = {
    className: "primary" | "secondary";
    type: "button" | "submit" | "reset";
};

const { className, type } = Astro.props;
---

<button type={type} class={className}>
    <slot />
</button>

<style>
    button {
        border-radius: var(--border-radius-out);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    button.primary {
        background-color: var(--primary-500);
        color: var(--neutral-50);
        padding: 9px 25px;
        border: none;
        transition: background-color 0.3s ease-in-out;
    }

    button.primary:hover {
        background-color: var(--primary-400);
    }

    button.secondary {
        border: 1px solid var(--neutral-900);
        background-color: transparent;
        color: var(--neutral-900);
        padding: 8px 24px;
    }
</style>
