---
type Props = {
    label: string;
    flex?: number;
};

const { label, flex } = Astro.props;
---

<div class="input__box">
    <fieldset>
        <slot />
        <legend>{label}</legend>
    </fieldset>
    <p class="error__message"></p>
</div>

<style is:global define:vars={{ flex }}>
    .input__box {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        position: relative;
        flex: var(--flex);
    }

    .input__box > fieldset {
        flex: 1;
        position: relative;
        border: none;

    }

    .input__box > fieldset > :is(input, textarea) {
        width: 100%;
        height: 100%;
        padding: 8px 12px;
        border: 1px solid var(--neutral-400);
        border-radius: var(--border-radius-out);
        background-color: var(--neutral-50);
    }

    .input__box > fieldset > :is(input:focus, textarea:focus):not(:placeholder-shown):valid {
        border-color: var(--success-700);
    }

    .input__box > fieldset > :is(input, textarea):not(:placeholder-shown):invalid {
        border-color: var(--error-700);
    }

    .input__box > fieldset > textarea {
        scrollbar-width: thin;
        resize: none;
        field-sizing: content;
        min-height: 300px;
    }

    .input__box > fieldset > legend {
        padding-inline: 0.25rem;
        position: absolute;
        top: 13px;
        left: 9px;
        pointer-events: none;
        background-color: var(--neutral-50);
        line-height: 1;
        transition:
            top 0.3s ease-in-out,
            font-size 0.3s ease-in-out,
            color 0.3s ease-in-out;
    }

    .input__box > fieldset > :is(input, textarea):focus + legend,
    .input__box > fieldset > :is(input, textarea):not(:placeholder-shown) + legend {
        top: -8px;
        font-size: 0.9rem;
        color: var(--neutral-700);
    }

    .input__box > fieldset > :is(input:focus, textarea:focus):not(:placeholder-shown):valid + legend {
        color: var(--success-900);
    }

    .input__box > fieldset > :is(input, textarea):not(:placeholder-shown):invalid + legend {
        color: var(--error-900);
    }

    .input__box > p {
        padding-inline: 0.5625rem;
        color: var(--error-900);
        font-size: 0.75rem;
    }
</style>
