---
type Props = {
    id: "our-team" | "testimonies" | "products" | "about-us" | "FAQ" | "contact-us";
    paddingInline?: "1rem" | 0;
};

const { id, paddingInline = "1rem" } = Astro.props;
---

<section class="main__section" id={id}>
    <slot />
</section>

<style define:vars={{ paddingInline }}>
    .main__section {
        padding-block: calc(44px + 2rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (width < 1542px) {
        .main__section {
            padding-inline: var(--paddingInline);
        }
    }
</style>
