---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    variant?: "primary" | "secondary";
}

const { variant = "primary", class: className, ...props } = Astro.props;
---

<a class:list={[variant, className]} {...props}>
    <slot />
</a>

<style>
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
        border-radius: var(--border-radius-out);
    }

    .primary {
        background-color: var(--primary-500);
        color: var(--neutral-50);
        padding: 10.5px 26.5px;
        border: none;
        transition: background-color 0.3s ease-in-out;
    }

    .primary:hover {
        background-color: var(--primary-400);
    }

    .secondary {
        border: 1px solid var(--neutral-900);
        background-color: transparent;
        color: var(--neutral-900);
        padding: 9.5px 25.5px;
    }

    .secondary:hover {
        opacity: 0.75;
    }
</style>
