---
import { getFormattedDate } from "@scripts/utils/handleDates";

type Props = {
    title: string;
    description: string;
    content: Array<{
        subtitle: string;
        description: string;
    }>;
};

const { title, description, content } = Astro.props;
---

<section>
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    <div>
        {
            content.map(({ subtitle, description }) => (
                <article>
                    <h4>{subtitle}</h4>
                    <p>{description}</p>
                </article>
            ))
        }
    </div>
    <footer>
        <p>Última actualización: {getFormattedDate(new Date())}</p>
    </footer>
</section>

<style>
    section,
    section > header,
    section > div,
    section > div > article {
        display: flex;
        flex-direction: column;
    }

    section {
        gap: 2rem;
    }

    section > header,
    section > div > article {
        gap: 0.25rem;
    }

    section > div {
        gap: 1rem;
    }
</style>
