---
import MainSection from "@components/layout/MainSection.astro";
import FAQItem from "@components/sections/faq/FAQItem.astro";
import { faqs } from "@data";

const { title, description, items } = faqs;
---

<MainSection id="FAQ" class="faq">
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    <div>
        {items.map(({ question, answer }) => <FAQItem question={question} answer={answer} />)}
    </div>
</MainSection>

<style>
    .faq > header {
        text-align: center;
    }

    .faq > div {
        display: flex;
        flex-direction: column;
    }
</style>
