---
import MainSection from "@components/layout/MainSection.astro";
import FAQItem from "@components/sections/faq/FAQItem.astro";
import { basics, faqs } from "@data";

const pathname = Astro.url.pathname;
---

<MainSection id="FAQ" class="faq">
  <header>
    <h2>Preguntas Frecuentes</h2>
    <p>
      Si no encuentras la respuesta a tu pregunta, no dudes en <a
        href={`${pathname}#contact-us`}
        aria-label={`Ir a la sección Contáctanos de ${basics.name}`}>contactarnos</a
      >.
    </p>
  </header>
  <div>
    {faqs.map(({ question, answer }) => <FAQItem question={question} answer={answer} />)}
  </div>
</MainSection>

<style>
  .faq > header {
    text-align: center;
  }

  .faq > header > p > a:hover {
    text-decoration: underline;
  }

  .faq > div {
    display: flex;
    flex-direction: column;
  }
</style>
