---
import ChevronIcon from "@components/icons/Chevron.astro";

interface Props {
    question: string;
    answer: string;
}

const { question, answer } = Astro.props;
---

<details name="FAQs" class="faq__item">
    <summary>
        <h3>{question}</h3>
        <figure>
            <ChevronIcon width={24} height={24} color="var(--neutral-900)" />
        </figure>
    </summary>
    <div>
        <p>{answer}</p>
    </div>
</details>

<style>
    .faq__item {
        padding: 1rem;
        animation: revealFAQ linear both;
        animation-timeline: view();
        border-bottom: 1px solid var(--neutral-200);
    }

    .faq__item > summary {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .faq__item > summary > h3 {
        font-size: var(--text-size-small);
    }

    .faq__item > summary > figure {
        display: grid;
        place-items: center;
        transition: transform 0.2s ease-in-out;
    }

    .faq__item[open] > summary > figure {
        transform: rotate(180deg);
    }

    .faq__item > div {
        padding-inline: 1rem;
    }

    .faq__item > div > p {
        color: var(--neutral-700);
    }

    @supports (interpolate-size: allow-keywords) {
        .faq__item::details-content {
            height: 0;
            overflow: clip;
            transition:
                margin-top 0.2s ease-in-out,
                height 0.2s ease-in-out,
                content-visibility 0.2s allow-discrete;
        }

        .faq__item[open]::details-content {
            margin-top: 0.5rem;
            height: auto;
        }
    }

    @supports not (interpolate-size: allow-keywords) {
        .faq__item[open] > div {
            margin-top: 0.5rem;
        }
    }

    @keyframes revealFAQ {
        entry 0% {
            opacity: 0;
            transform: translateY(100%);
        }
        entry 100% {
            opacity: 1;
            transform: translateY(0);
        }
        exit 0% {
            opacity: 1;
            transform: translateY(0);
        }
        exit 100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
</style>
